.action {
    border: black solid 1px;
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--Tmid);
}

.new-order-href {
    align-content: center;
    border: black solid 1px;
    min-height: 60px;
    width: 100%;
    text-align: center;
}

.history-href {
    align-content: center;
    text-align: center;
    width: 100%;
    border: black solid 1px;
    margin-top: auto;
    min-height: 60px;

}

.menu {
    font-size: var(--Tmid);
    min-width: 200px;
    border: black solid 1px;
    display: flex;
    flex-direction: column;

}

.finance-href,
.clients-href,
.orders-href {
    border: black solid 1px;
    text-align: center;
    align-content: center;
    margin-bottom: auto;
    height: 100%;
}